
@font-face {
  font-family: 'Shadows Into Light';
  src: url('ShadowsIntoLight.eot?#iefix') format('embedded-opentype'),  url('ShadowsIntoLight.woff') format('woff'), url('ShadowsIntoLight.ttf')  format('truetype'), url('ShadowsIntoLight.svg#ShadowsIntoLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
